<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Seller</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        body {font-family: sans-serif; max-width: 600px; margin: auto; }
        select, textarea, button {display: block; width: 100px; margin: 10px 0; }
    </style>
</head>
<body>
    <div id="app">
        <h1>Contact Seller</h1>

        <select v-model = "selectedBookID">
            <option disabled value="">-- Select a Book --</option>
            <option v-for="item in items" :value="item/BookID">
                {{ item.Title }} (Seller: {{ item.SellerName }})
            </option>
        </select>

        <textarea v-model = "messageText" placeholder="Write your message..."></textarea>

        <button type=button @click="sendMessage">Send</button>

        <h2>Messages Recived</h2>
        <ul>
            <li v-for="msg in messages">
                <strong>{{ msg.BuyerName }}</strong> about <em>{{ msg.Title}}</em><br>
                {{ msg.MessageText }} <small>({{ msg.SentAt}})</small>
        </ul>
    </div>

</body>
</html>